@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/ubuntu.woff) format('woff');
}

body {
  background-color: black;
  color: white;
  font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

#header {
  text-align: center;
  margin: 20px 0;
}

#left {
  width: 66%;
  float: left;
  margin: 0 2%;
}

#right {
  width: 26%;
  float: left;
  margin: 0 2%;
}

h1 {
  font-size: 85px;
  line-height: 100%;
  margin: 0;
  background-image: url(../img/ubuntu.png);
  background-position: right top;
  background-repeat: no-repeat;
  padding-right: 70px;
  display: inline-block;
}

#cmd {
  font-size: 20px;
  text-align: left;
  padding: 20px;
  border: 1px solid #333;
  background-color: #111;
  display: block;
}

#cmd pre {
  overflow: auto;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

a {
  color: #999;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.spacer {
  height: 20px;
}

.note {
  font-size: 0.8em;
}

.disclaimer {
  font-size: 0.8em;
  color: #666;
  padding: 20px;
}

#media {
  list-style: none;
  padding: 0;
}

#media li {
  margin: 0 0 15px 0;
}

#media li a {
  text-decoration: none;
}

/* syntaxhighlighter override */
.syntaxhighlighter {
    padding: 10px;
}

@media (max-width: 600px) {
  #left, #right {
    width: 100%;
    margin: 0;
  }

  h1 {
    font-size: 45px;
    min-height: 50px;
  }
}
