@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(ubuntu.woff) format('woff');
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Ubuntu;
  line-height: 1.5em;
}

#left {
  width: 66%;
  float: left;
  margin: 0 2%;
}
#right {
  width: 26%;
  float: left;
  margin: 0 2%;
}

h1 {
  text-align: center;
  font-size: 85px;
  line-height: 100%;
  margin: 0;
}

#cmd {
  font-size: 20px;
  text-align: left;
  padding: 20px;
  border: 1px solid #333;
  background-color: #111;
  display: block;
}
#cmd pre {
  overflow: auto;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

a {
  color: #999;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.spacer {
  height: 20px;
}

.disclaimer {
  font-size: 0.8em;
  color: #666;
  padding: 20px;
}

ul#media {
  list-style: none;
  padding: 0;
}
ul#media li {
  margin: 0 0 15px 0;
}
ul#media li a {
  text-decoration: none;
}

@media (max-width: 600px) {
  div#left, div#right {
    width: 100%;
    margin: 0;
  } 
}
