@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  font: 16px/1.5em 'ubunturegular';
}

html {
  font: 16px/1.5em 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background-color: black;
  color: white;
}

h1 {
  background: url("../img/ubuntu.png") right top no-repeat;
  display: inline-block;
  font-size: 85px;
  line-height: 100%;
  margin: 0;
  padding-right: 70px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

a {
  color: #999;
}

.header {
  text-align: center;
  margin: 20px 0;
}

.left {
  width: 66%;
  float: left;
  margin: 0 2%;
}

.right {
  width: 26%;
  float: left;
  margin: 0 2%;
}

.cmd {
  font-size: 20px;
  text-align: left;
  padding: 20px;
  border: 1px solid #333;
  background-color: #111;
  display: block;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.spacer {
  height: 20px;
}

.small {
  font-size: 0.8em;
}

.disclaimer {
  color: #666;
  padding: 20px;
}

.media {
  list-style: none;
  padding: 0;
}

.media li {
  margin: 0 0 15px 0;
}

.media li > a {
  text-decoration: none;
}

/* syntaxhighlighter override */
.syntaxhighlighter {
    padding: 10px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 45px;
    min-height: 50px;
  }

  .left, .right {
    width: 100%;
    margin: 0;
  }
}
