@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/ubuntu-r-webfont.eot');
  src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ubuntu-r-webfont.woff') format('woff'),
       url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
       url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  font: 16px/1.5em 'ubunturegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 85px;
  line-height: 100%;
  margin: 0;
}

h1:after {
  background: url('../img/ubuntu.png') right top no-repeat;
  content: '';
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  width: 50px;
  height: 50px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

a {
  color: #999;
}

.header {
  text-align: center;
  margin: 20px 0;
}

.good-news {
  color: white;
  background-color: #cc0000;
  text-align: center;
  padding: 10px;
}

.left {
  width: 66%;
  float: left;
  margin: 0 2%;
}

.right {
  width: 26%;
  float: left;
  margin: 0 2%;
}

.cmd {
  background-color: #111;
  border: 1px solid #333;
  display: block;
  font-size: 1.25em;
  overflow: auto;
  padding: 20px;
  text-align: center;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.spacer {
  height: 20px;
}

.small {
  font-size: 0.8em;
}

.disclaimer {
  color: #666;
  padding: 20px;
}

.media {
  list-style-type: none;
  padding: 0;
}

.media li {
  margin: 0 0 15px 0;
}

.media li > a {
  text-decoration: none;
}

/* hljs override */
.hljs {
    background-color: #1B2426;
    padding: 0.6em;
}

@media (max-width: 665px) {
  h1 {
    font-size: 45px;
    min-height: 50px;
  }

  h1:after {
    vertical-align: middle;
  }

  .left,
  .right {
    width: 90%;
    margin: 4%;
  }
}
